@using Contracts
@using EmptyMVC

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View inflation based on your consumption</p>
</div>

<p>
    Average American as per bls statistics
    <form method="POST" action="?consumerType=0">
        <button type="submit">Regular</button>
    </form>
    
    Minimalist with only need of shelter and food at home
    <form method="POST" action="?consumerType=1">
        <button type="submit">Minimalist Renter</button>
    </form>

    Minimalist owning their home and making own meals
    <form method="POST" action="?consumerType=2">
        <button type="submit">Minimalist Home owner</button>
    </form>

    Enjoying eating outside
    <form method="POST" action="?consumerType=3">
        <button type="submit">Restaurant Foodie</button>
    </form>
</p>

<canvas id="myChart2" style="width:100%;max-width:700px"></canvas>




@{
    IndexWrapper values = Model;
    TreeNode<Category> root = values.RootLevel;
    int depth = values.Depth;
    var avgInf = values.AvgInflation;
    var valueOfDollar = values.ValueOfDollar;
}

<p>Average Inflation: @avgInf</p>
<p>Value of a 1997 Dollar today: @valueOfDollar</p>



@{
    SerieObservations inflationNumbers= root.CalculateInflationRecursivelyFromProvidedLevels();
    var annualInflation = inflationNumbers.AnnualObservations;
}

<script type="text/javascript">


    var myArray = [];

    @foreach (var v in annualInflation)
    {
        @:myArray.push({x:"@v.Value._year",y:"@v.Value._percentChange"});
    }

new Chart("myChart2", {
type: "scatter",
data: {
datasets: [{
pointRadius: 4,
pointBackgroundColor: "rgb(0,0,255)",
data: myArray
}]
},
options: {
legend: {display: false},
scales: {
xAxes: [{ticks: {min: 1997, max:2022}}],
yAxes: [{ticks: {min: -5, max:10}}],
}
}
});

</script>


<table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:100px">Category Name</th>
        <th style="width:150px">Weight</th>
        <th style="width:150px"></th>
    </tr>
    
  
    

    @{

        foreach (TreeNode<Category> node in root.ListAll(depth))
        {
            var cat = node.Value;

            <tr>
                @{
                    var spacing = "";
                    for (int i = 0; i < cat._depth; i++)
                    {
                        spacing += "  ";
                    }
                    var paddedName = spacing + @cat._name;
                    var paddedWeight = spacing + @cat.GetWeight;
                }
               
                <td class="Name">
                    <span>
                        <pre>@paddedName</pre></span>
                </td>
                <td class="Weight">
                    <span>
                        <pre>@paddedWeight</pre></span>
                </td>

            </tr>
        }
    }
</table>

<p>For setting more customized weights (let's say you are vegan and don't eat meats, so you want to remove it) 
    saving and loading data
    Please download the application</p>