@using Contracts
@using EmptyMVC

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View inflation based on your consumption</p>
</div>

<p>
    Average American as per bls statistics
    <form method="POST" action="?consumerType=0">
        <button type="submit">Regular</button>
    </form>
    
    Minimalist with only need of shelter and food at home
    <form method="POST" action="?consumerType=1">
        <button type="submit">Minimalist Renter</button>
    </form>

    Minimalist owning their home and making own meals
    <form method="POST" action="?consumerType=2">
        <button type="submit">Minimalist Home owner</button>
    </form>

    Enjoying eating outside
    <form method="POST" action="?consumerType=3">
        <button type="submit">Restaurant Foodie</button>
    </form>
</p>

<canvas id="InflationChart" style="width:100%;max-width:700px"></canvas>


@{
    IndexWrapper values = Model;
    TreeNode<Category> root = values.RootLevel;
    int depth = values.Depth;
    var avgInf = values.AvgInflation;
    var valueOfDollar = values.ValueOfDollar;
}

<p>Average Inflation: @avgInf</p>
<p>Value of a 1997 Dollar today: @valueOfDollar</p>

<pre>Inflation is based on an average of what people consume. So as an average of everyone else, you are considered to be both a home owner and a renter, drinking, smoking, eating candies, eating fruits and vegetable at home and going to restaurants. You are buying both clothes for men and for women, owning a new car a new truck, as well as used ones. Using fuel, propane, gas and electricity. you have a pet and a garden. 
    Obviously no one is that average person. And that is one reason why reported inflation doesn't match inflation impacting you.
    
    The balance between these items can also change year to year. If something got more expensive, people bought it less, and it will result in less weight in the balance.
    If people used to buy 2 avocados at 1$ on average for a total of 2$ and suddendly the price increase buy 50%, they might start buying only 1 avocado for 1.5$. Which means the weight of avocado has dropped by 25%.  This way the increase of 50% in price is reduced to 37.5% in statistics.
    
    A second way inflation can be skewed is by having categories englobing multiple products. In case of a rise in a price of a product, it is considered that a consumer would buy an alternative instead of what was bought previously.
    Let's say in the category "Meats, poultry, and fish" you usually buy more beef, if the beef increase in price, it doesn't mean that the category will have inflation.
    By considering that consumers will instead buy poultry and fish that have not changed price, the category will not reflect the inflation you see when buying beef.
    
    By setting up more precise weight that correspond to your spendings, you can still use some of the bls data and see how inflation impacts you.
    
    There are still some limitation, like hedonic adjustements, which are supposed to take into account quality improvements of products. Which can make sense in some cases, like how a mobile phone can also be a camera today. 
    But can also not really reflect changes related to usage, if you buy a car for going from A to B, it may not really matter to you if the car has A/C or not. The car has more functionality but the car cost more. 
    See the list of categories here: https://www.bls.gov/cpi/quality-adjustment/ 
    

    but we are not questioning the protocols gathering the data, nor are we trying to uncover any conspiracy.
    The goal of this website is to teach how inflation will affect you, and by how much to help you plan for your future. 
    There will still be some averaging, depending on locations, stores, and how you manage your expenses, but at least you will get closer to the minimum inflation.
    </pre>
    
<h1>Weights of categories</h1>>

<p>Choose a different depth to see sub categories</p>

<form action="">

<select name="depth" id="depth">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
</select>
<input type="submit">
</form>

@{
    SerieObservations inflationNumbers= root.CalculateInflationRecursivelyFromProvidedLevels();
    var annualInflation = inflationNumbers.AnnualObservations;
}

<script type="text/javascript">


    var myArray = [];

    @foreach (var v in annualInflation)
    {
        @:myArray.push({x:"@v.Value._year",y:"@v.Value._percentChange"});
    }

new Chart("InflationChart", {
type: "scatter",
data: {
datasets: [{
pointRadius: 4,
pointBackgroundColor: "rgb(0,0,255)",
data: myArray
}]
},
options: {
legend: {display: false},
scales: {
xAxes: [{ticks: {min: 1997, max:2022}}],
yAxes: [{ticks: {min: -5, max:10}}],
}
}
});

</script>


<table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:100px">Category Name</th>
        <th style="width:150px">Weight</th>
        <th style="width:150px"></th>
    </tr>
    
  
    

    @{

        foreach (TreeNode<Category> node in root.ListAll(depth))
        {
            var cat = node.Value;

            <tr>
                @{
                    var spacing = "";
                    for (int i = 0; i < cat._depth; i++)
                    {
                        spacing += "  ";
                    }
                    var paddedName = spacing + @cat._name;
                    var paddedWeight = spacing + @cat.GetWeight;
                }
               
                <td class="Name">
                    <span>
                        <pre>@paddedName</pre></span>
                </td>
                <td class="Weight">
                    <span>
                        <pre>@paddedWeight</pre></span>
                </td>

            </tr>
        }
    }
</table>

<p>For setting more customized weights (let's say you are vegan and don't eat meats, so you want to remove it) 
    saving and loading data
    Please download the application</p>